CompileFlags:
  Add:
    - "-I/lib/modules/6.12.47+rpt-rpi-2712/build/include"
    - "-I/lib/modules/6.12.47+rpt-rpi-2712/build/arch/arm64/include"
    - "-I/lib/modules/6.12.47+rpt-rpi-2712/build/arch/arm64/include/generated"
    - "-I/lib/modules/6.12.47+rpt-rpi-2712/build/include/uapi"
    - "-I/lib/modules/6.12.47+rpt-rpi-2712/build/arch/arm64/include/uapi"
    - "-I/lib/modules/6.12.47+rpt-rpi-2712/build/include/generated/uapi"
    - "-nostdinc"
    - "-D__KERNEL__"
    - "-DMODULE"
    - "-I/usr/include/c++/14"
    - "-I/usr/include/aarch64-linux-gnu/c++/14"
    - "-I/usr/include/c++/14/backward"
    - "-I/usr/lib/llvm-19/lib/clang/19/include"
    - "-I/usr/local/include"
    - "-I/usr/include/aarch64-linux-gnu"
    - "-I/usr/include"
  Remove:
    - "-mabi=*"
    - "-march=*"
Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None
